node_modules
.env

# Google Calendar credentials
google-credentials.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
/.idea/.gitignore
/.idea/booking-service.iml
/.idea/modules.xml
/.idea/vcs.xml
